@import "settings.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-light;
  background: $color-bg-light;
  font-size: ($base-size * 1.4);
  line-height: 1.7;
}
