@import '../../../styles/settings.scss';

// .root {
// }

.card {
  margin: 24px;

  .author {
    margin: 12px 0;

    > * {
      font-size: 0.8rem;
    }
  }

  .text {
    margin: 12px 0;
  }

  .expand {
    transform: rotate(0deg);
    margin-left: auto;
    transition: 0.5s ease-in-out;
  }
  .expandOpen {
    transform: 'rotate(180deg)';
  }
}
