@import '../../../styles/settings.scss';

// .root {
// }

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;

  > *, .profile > *{
    color: $color-light;
    text-transform: uppercase;
  }

}
